<div class="m-6">
  <table style="border-collapse: separate; border-spacing: 20px;">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Days left</th>
      <th>Student</th>
      <th>Last update</th>
      <th>Open PR</th>
      <th>Repository</th>
      <th>Approve Deadline</th>
      <th>Prepare Deadline</th>
    </tr>
    <% not_approved.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><span class="Label <%= a.status_style %>"><%= a.status %></span></td>
        <td><span class="text-bold <%= a.days_left_style %>"><%= a.days_left %></span></td>
        <td><%= a.login %></td>
        <td><%= a.updated_at %></td>
        <td>
          <% if !a.url.nil? %>
            <a class="btn btn-primary" role="button" href="<%= a.url %>" target="_blank" rel="noopener noreferrer">Go to PR</a>
          <% end %>
        </td>
        <td>
          <a class="btn" role="button" href="<%= a.repo_url %>" target="_blank" rel="noopener noreferrer">Go to repo</a>
        </td>
        <td><%= a.approve_deadline %></td>
        <td><%= a.prepare_deadline %></td>
      </tr>
    <% end %>
  </table>
</div>
