<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@primer/css@^15.2.0/dist/primer.css">
    <title>Neznayka</title>
    <%= favicon %>
  </head>
  <body>
    <div class="Header bg-gray-dark text-white p-3">
      <div class="Header-item Header-item--full">
        <a class="Header-link" href="<%= local :home %>">
          Home
        </a>
      </div>
      <div class="Header-item mr-0">
        <a class="Header-link" href="<%= routes.student_score_path %>">
          <span class="Counter mr-1 bg-green text-white"><%= local :total_score %></span>
        </a>
      </div>
      <div class="Header-item mr-0">
        <a class="Header-link" href="<%= local :profile %>">
          <img class="avatar" height="32" width="32" alt="<%= local :login %>" src="<%= local :avatar %>" />
        </a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
